
<footer class="page-footer font-small stylish-color-dark pt-3 mt-3">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-uppercase"> ADNEOM - TEST </h5>
                <p>Black Mirror Adneom test using REST API</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Contacter nous</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> ADNEOM </a>
    </div>
</footer>
                      